/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page */
body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}

/* Center everything */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
