/* Page */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb;
}

/* HEADER */
header {
  background: url("images/heroImg.png");
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding: 5px 50px 80px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .logo img {
  width: 180px;
  border-radius: 6px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(7, 106, 7);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(224, 163, 11);
}

/* BUTTONS */
.cta-button {
  background-color: rgb(224, 163, 11);
  padding: 8px 16px;
  border-radius: 6px;
  color: rgb(7, 106, 7);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: rgb(226, 191, 100);
  color: rgb(7, 106, 7) !important;
  border: none;
}

/* HERO SECTION */
.hero {
  padding-top: 50px;
}

.hero h1 {
  color: rgb(7, 106, 7);
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: rgb(88, 86, 86);
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero a {
  text-decoration: none;
  font-size: 16px;
  padding: 12px 24px;
}
